@model IEnumerable<JobLinq.Web.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Şirket Profili</h1>

@if (TempData["status"] != null)
{
    <div class="alert alert-success" role="alert">
        <i class="bi bi-check"></i>
        @TempData["status"]
    </div>

}
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Profil Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId" class="genric-btn success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId" class="genric-btn success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompanyId" class="genric-btn success">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
