@model JobLinq.Web.Models.Tblilan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tblilan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sirket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sirket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecrube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecrube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EgitimSeviyesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EgitimSeviyesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YabancilDil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YabancilDil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalismaSekli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalismaSekli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozisyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozisyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sehir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlanDetay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlanDetay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
